<%-include('../header')%>

<div class="container">
    <%- include('../layouts/message') %>
  <div class="row content ">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img height="300px" width="300px" src="img/menu-img/profesorado.png">
        </div>
        <div class="card-action">
          <p class="center-align text"><a href="/person/registerTeacher" class="center-align">Registrar Docente</a></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img height="300px" width="300px" src="img/menu-img/estudiante.png">
        </div>
        <div class="card-action">
          <p class="center-align"><a href="/person/registerStudent" class="center-align">Registrar Estudiante</a></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img height="300px" width="300px" src="img/menu-img/login.png">
        </div>
        <div class="card-action">
          <p class="center-align"><a href="/login" class="center-align">Iniciar Sesión</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include('../footer')%>