<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      .content{
        margin-top: 50px;
        margin-bottom: 50px;
      }
    </style>
</head>

<body>

    <div class="container">
            <div class="row content">
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                              <img  height="300px" width="300px" src="img/menu-register/profesorado.png" >
                            </div>
                            <div class="card-action">
                                <p class="center-align" ><a href="#" class="center-align">Registrar Docente</a></p>
                            </div>
                          </div>
                    </div>
                    <div class="col s4">
                      <div class="card">
                        <div class="card-image">
                          <img  height="300px" width="300px" src="img/menu-register/estudiante.png">
                        </div>
                        <div class="card-action">
                            <p class="center-align" ><a href="#" class="center-align">Registrar Estudiante</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col s4">
                        <div class="card">
                            <div class="card-image">
                              <img  height="300px" width="300px" src="img/menu-register/login.png">
                            </div>
                            <div class="card-action">
                                <p class="center-align" ><a href="#" class="center-align">Iniciar Sesión</a></p>
                            </div>
                          </div>
                    </div>
                  </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- <script src="js/recursos.js"></script> -->
</body>

</html>
