<%-include("./header")%>

    <h2>Bienvenido al Sistema de Gestión Academica de Academy Loja</h2>
    <h3>Por favor selecciona una de las categorias para acceder a tu informacion academica</h3>
    
</div>
<%-include("./footer")%>