<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/config.css">
</head>

<body>

    <header class="header-area">
        <div class="top-header">
            <div class="container h-100">
                <div class="academy-logo">
                    <a href="/" class="title"><img src="/img/core-img/logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>


    <% if(user){ %>
    <div class="container" style="margin-top:3%;">
        
        <nav>
            <div class="nav-wrapper" style="background: #2ec56f;">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <%if(user.role=="administrador"){%>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="/person/myProfile">Mi perfil</a></li>
                    <li><a href="/faculty">Facultad</a></li>
                    <li><a href="/career">Carrera</a></li>
                    <li><a href="/person/student">Estudiante</a></li>
                    <li><a href="/person/teacher">Docente</a></li>
                    <li><a href="/curriculum">Malla Curricular</a></li>
                    <li><a href="/subject">Materia</a></li>
                    <li><a href="/period">Período</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/person/logout">Salir</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="/person/myProfile">Mi perfil</a></li>
                    <li><a href="/faculty">Facultad</a></li>
                    <li><a href="/career">Carrera</a></li>
                    <li><a href="/person/student">Estudiante</a></li>
                    <li><a href="/person/teacher">Docente</a></li>
                    <li><a href="/curriculum">Malla Curricular</a></li>
                    <li><a href="/subject">Materia</a></li>
                    <li><a href="/period">Período</a></li>
                    <li><a href="/person/logout">Salir</a></li>
                </ul>
                <%}else if(user.role=="student"){%>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="/person/myProfile"><i class="material-icons left">account_circle</i>Mi Perfil </a></li>
                    <li><a href="/class"><i class="material-icons left">import_contacts</i>Clases</a></li>
                    <li><a href="/enrollment"><i class="material-icons left">school</i>Matricularme</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/person/logout"><i class="material-icons left">exit_to_app</i>Salir</a></li>
                </ul>
                <%}else if(user.role=="teacher"){%>
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="/person/myProfile"><i class="material-icons left">account_circle</i>Mi Perfil </a></li>
                    <li><a href="/class"><i class="material-icons left">import_contacts</i>Mis Clases</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/person/logout"><i class="material-icons left">exit_to_app</i>Salir</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="/person/myProfile"><i class="material-icons left">account_circle</i>Mi Perfil </a></li>
                    <li><a href="/class"><i class="material-icons left">import_contacts</i>Mis Clases</a></li>
                    <li><a href="/person/logout"><i class="material-icons left">exit_to_app</i>Salir</a></li>
                </ul>
                <%}%>
            </div>
        </nav>

        <%}%>