.title {
    position: relative;
    left: 45%;
    right: 45%;
    top: 30px;
}
.title-form{color:#2ec56f;}

.btn{background: #2ec56f;}

.message{
    color:#2ec56f;
    text-align: center;
}
.content {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 10%;
    right: 10%;
  }

.options{
    position: absolute;
    top: 40px;
    right: 35px;
}

.datepicker-modal{
    height: auto;
}

.truncate{
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

.profile-info {
    font-weight: bold;
    margin-right: 5px;
    float: left;
	width: 160px;
}

.info {
    font-weight: bold;
    margin-right: 5px;
    float: left;
	width: 110px;
}

.add{
    position: absolute;
    left: 75%;
}

.modal{
    margin-top: 30px;
    height: auto;
}