<%-include('../header')%>

<h3 class="center-align">Materias Disponibles</h3>
<ul class="collapsible">
    <% cycles.forEach(function(cycle){  %>
    <li>
        <div class="collapsible-header"><%=cycle.cycle.name%></div>
        <div class="collapsible-body">
            <ul class="collection">
                <% cycle.subjects.forEach(function(subject){ %>
                    <a href="#!" class="collection-item"><%= subject.name%></a>
                <%})%>
            </ul>
        </div>
    </li>
       
    <%});%>
</ul>

<%-include('../footer')%>