<%-include('../header')%>

<h3 class="center-align">Materias Disponibles</h3>
<ul class="collapsible">
    <% cycles.forEach(function(cycle){  %>
    
    <li>
        <div class="collapsible-header"><%=cycle.cycle%></div>
        <div class="collapsible-body">
            <ul class="collection">
                
            </ul>
        </div>
    </li>
       
    <%});%>
</ul>

<%-include('../footer')%>