<%-include('../header')%>


    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h4 class="center-align title-form">Facultades</h4>
                <div class="card-content">
                    <form action="/faculty/save" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" name="name" required class="validate">
                                <label for="name">Nombre Facultad</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="description" type="text" name="description" required class="validate">
                                <label for="description">Descripción de la Facultad</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="input-field col-s12 center-align">
                                <button class="btn">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Nombre Facultad</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% faculties.forEach(function(faculty){ %>
                    <tr>
                        <td>faculty.name</td>
                        <td>faculty.descrition</td>
                        <td>
                            <a>
                                Editar<i class="material-icons">edit</i>
                            </a>
                            <a>
                                Eliminar<i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%-include('../footer')%>