<%-include('../header')%>

<h2 class="center-align title-form">Matematica</h2>

<a class="waves-effect waves-light btn-large" href="#modal1">Añadir Unidad</a>

<h3 class="center-align title-form">Unidades</h3>
<h4>Unidad 1</h4>
<p><span>Fecha Inicio</span>21/42/1233</p>
<p><span>Fecha Final</span>12/12/2222</p>
<ul>
    <li>Tema 1</li>
    <li>Tema 2</li>
</ul>
<h4>Unidad 1</h4>
<p><span>Fecha Inicio</span>21/42/1233</p>
<p><span>Fecha Final</span>12/12/2222</p>
<ul>
    <li>Tema 1</li>
    <li>Tema 2</li>
</ul>
<%-include('../footer')%>